<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 text-left">
        <h4>Primary Applicant</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h6>Personal Information</h6>
      </div>
      <div class="d-none d-md-block col-md-9 m-auto">
        <div id="personal-info-line"></div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12 order-md-1">
        <form>
          <div class="row">
            <div class="col-md-6 mb-4">
              <label class="form-check-label fs-6" for="flexCheckChecked">
                Are you a homeowner?
              </label>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Legal First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Legal Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-sm-12 col-md-4">
              <label for="socialSecurityNumber">Social Security Number</label>
              <input type="text" class="form-control" id="socialSecurityNumber" placeholder="" value="">
              <div class="invalid-feedback">
                Valid social security is .
              </div>
            </div>

            <div class="mb-3 col-sm-12 col-md-4">
              <label for="verifySocialSecurityNumber">Verify Social Security Number</label>
              <input type="text" class="form-control" id="verifySocialSecurityNumber" placeholder="" value=""
              >

            </div>

            <div class="mb-3 col-sm-12 col-md-4">
              <label for="birthdate">Birthdate</label>
              <input type="email" class="form-control" id="birthdate" placeholder="">
              <div class="invalid-feedback">
                Please enter a valid birthday.
              </div>
            </div>

          </div>


          <div class="row">
            <div class="mb-3 col-sm-12 col-md-4">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St">
              <div class="invalid-feedback">
                Please enter your address.
              </div>
            </div>

            <div class="mb-3 col-sm-12 col-md-4">
              <label for="address2">Apt/Suite</label>
              <input type="text" class="form-control" id="address2" placeholder="">
            </div>

            <div class="mb-3 col-sm-12 col-md-4">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="">
              <div class="invalid-feedback">
                Please enter your city.
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-12 col-md-2 mb-3">
              <label for="state">State</label>
              <select class="custom-select d-block w-100" id="state">
                <option value="">Choose...</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>

            <div class="col-md-2 mb-3">
              <label for="zip">Zip</label>
              <input type="number" class="form-control" id="zip" placeholder="">
              <div class="invalid-feedback">
                Zip code .
              </div>
            </div>

            <div class="mb-3 col-sm-12 col-md-4">
              <label for="mobileNumber">Mobile Phone</label>
              <input type="number" class="form-control" id="mobileNumber" placeholder="">
            </div>

            <div class="mb-3 col-sm-12 col-md-4">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="">
              <div class="invalid-feedback">
                Please enter your email.
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-sm-3 col-md-12 mb-3">
              <p>Anti-money laundering and counter-terrorism financing laws require that we collect and verify
                identifying information if you proceed in using Smart Home Pay</p>
            </div>

            <div class="col-sm-12 col-md-6 mb-3">
              <label for="grossMonthlyIncome">Gross Monthly Income</label>
              <input type="text" class="form-control" id="grossMonthlyIncome" placeholder="">
              <div class="invalid-feedback">
                Gross monthly income .
              </div>
            </div>

            <div class="col-sm-12 col-md-6 mb-3">
              <label for="requestedLoanAmount">Requested Loan Amount</label>
              <input type="text" class="form-control" id="requestedLoanAmount" placeholder="">
              <div class="invalid-feedback">
                Loan amount .
              </div>
            </div>

            <div class="col-sm-3 col-md-12 mb-3">
              <p>Based on the above, your annual gross is [insert logic here]</p>
              <br>
              <p>You may include alimony, child support, or separate maintenance income if you wish to have it
                considered.</p>
            </div>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                >
                <label class="custom-control-label" for="credit">
                  By selecting this box and submitting my application to proceed, I agree to the <a href="https://smarthomepay.com/esign/" target="_blank">Electronic
                  Communication, E-Sign Agreement, and Consent to Receive communications</a>  by phone or email about Smart Home Pay, the Smart Home Pay
                  <a href="https://smarthomepay.com/terms-and-authorizations/" target="_blank"></a>, and Smart Home Pay <a href="https://smarthomepay.com/privacy-policy-and-notices/" target="_blank">Privacy Policy and Notices</a>.


                </label>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-12 text-center">
              <p>
                Smart Home Pay is Issued by WebBank

              </p>
            </div>
          </div>

          <hr class="mb-4">
          <div class="row mb-3">
            <div class="col d-flex align-items-center justify-content-center">
              <button (click)="navigateForward()"
                      class="btn submit-btn btn-md text-white">Submit My Application
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>

</div>
