<div class="progress progress--five"><!-- You can add .progress--three or .progress--five to this div -->
  <div class="progress__step progress__step--active">
    <div class="progress__label">
        <span class="progress__badge">
          <span class="progress__number">1</span>
        </span>
      <span class="progress__title">Applicant(s)</span>
    </div>
  </div>
  <div class="progress__step ">
    <div class="progress__label">
        <span class="progress__badge">
          <span class="progress__number">2</span>
        </span>
      <span class="progress__title">Review</span>
    </div>
  </div>
  <div class="progress__step"><!-- Active step gets the class .progress__step--active -->
    <div class="progress__label">
        <span class="progress__badge">
          <span class="progress__number">3</span>
        </span>
      <span class="progress__title">Loan Details</span>
    </div>
  </div>
  <div class="progress__step ">
    <div class="progress__label">
        <span class="progress__badge">
          <span class="progress__number">4</span>
        </span>
      <span class="progress__title">Payment Details</span>
    </div>
  </div>
  <div class="progress__step ">
    <div class="progress__label">
        <span class="progress__badge">
          <span class="progress__number">5</span>
        </span>
      <span class="progress__title">Complete</span>
    </div>
  </div>
</div>
