<div class="container container-box">
  <div class="row pt-4">
    <div class="col">
      <p>Thank you for adding your payment details and confirming your phone number. Please open your loan agreements, review, and sign then within Smart Home Pay.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <br>
      <p>
        Smart Home Pay is Issued by WebBank
      </p>
    </div>
  </div>

  <hr class="mt-5">

  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <button (click)="navigateForward()" class="btn text-white submit-btn">next</button>
    </div>
  </div>
</div>
