<div class="card-container text-center ">
  <div class="row m-4 loan-boarder">
    <div class="col">
      <div class="loader mb-4"></div>
      <div id="header-text">Please wait while the application is processed</div>
      <p>This step usually takes less than 2 minutes</p><br>
      <p>You may wait or go back to the customer record. You will receive an alert when the status changes.</p>
    </div>
  </div>
</div>
<hr>
<div class="d-flex justify-content-center">
  <button (click)="navigateForward()" class="btn submit-btn text-white">next</button>
</div>
