<div class="container container-box">
  <p class="pt-5">
    Thank you for signing your loan agreements and congrats on your Smart Home Pay
    payment plan.
  </p>
  <br>
  <p>
    The only remaining step is to confirm your installation in the Smart Home Pay
    portal once your hardware has been installed.
  </p>
  <br>
  <p>
    Note: Sales representatives/technicians will need to provide Smart Home Pay the
    customer ID, central station account number, or other identifying information to
    finalize the loan.
  </p>

  <div class="row">
    <div class="col-12 text-center">
      <br>
      <p>
        Smart Home Pay is Issued by WebBank
      </p>
    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col d-flex justify-content-center">
      <button class="btn text-white submit-btn">Done</button>

    </div>
  </div>
</div>
