<div class="container p-3 container-box">
  <div class="row mb-3">
    <div class="col text-center">
      <p class="fw-bold">Congratulations, your application is approved!</p>
    </div>

    <div class="row mb-3 mt-3">
      <div class="col text-center">
        <p>Your credit application has been approved for up to $3,000. A Welcome Email has been sent to [insert email
          here]</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ol>
          <li>Please open your email</li>
          <li>Find and open an email from Smart Home Pay that says "Welcome to Smart Home Pay". If you don't see it
            check your spam or junk folders.
          </li>
          <li>Click set my password and see if I qualified</li>
          <li>Set your password</li>
          <li>Login with your email and password you just set.</li>
          <li>Select your offer.</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Note: the approved amount may differ from teh amount requested. The final loan amount will be finalized at a
          later step. Borrower is only responsible for the final loan amount.</p>
      </div>
    </div>


    <div class="row">
      <div class="col-12 text-center">
        <br>
        <p>
          Smart Home Pay is Issued by WebBank
        </p>
      </div>
    </div>

    <hr class="mt-4">

    <div class="row">
      <div class="col d-flex justify-content-center">
        <button (click)="navigateForward()" class="text-white btn submit-btn">Next</button>
      </div>
    </div>
  </div>
</div>

